.app-container {
  height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #ffffff;
  width: 420px;
  padding: 38px;
  border-radius: 14px;
  box-shadow: 0px 12px 30px #e5e7eb;
}

.title {
  margin: 0;
  font-size: 22px;
  color: #111827;
}

.description {
  margin-top: 6px;
  margin-bottom: 18px;
  font-size: 14px;
  color: #6b7280;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid #22c55e;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}

.button {
  background-color: #22c55e;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #16a34a;
}
.app-container {
  height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #ffffff;
  width: 420px;
  padding: 38px;
  border-radius: 14px;
  box-shadow: 0px 12px 30px #e5e7eb;
}

.title {
  margin: 0;
  font-size: 22px;
  color: #111827;
}

.description {
  margin-top: 6px;
  margin-bottom: 18px;
  font-size: 14px;
  color: #6b7280;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid #22c55e;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}

.button {
  background-color: #22c55e;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #16a34a;
}
