.color-cards{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.color-div:hover{
   padding-top: 5px;
   padding-bottom: 5px;
}
.black{ 
  background: #000000; 
  outline: none;
  border: 1px solid #000000;
  margin-top: 10px;
}
.red{ 
  background: #ef4444;
  outline: none;
  border: 1px solid #ef4444;
}

.green{
  background: #10b981; 
  outline: none;
  border: 1px solid #10b981;
}
.yellow{ 
  background: #eab308; 
  outline: none;
  border: 1px solid #eab308;
}

.blue{ 
  background: #3b82f6; 
  outline: none;
  border: 1px solid #3b82f6;
}

.pink{ 
  background: #ec4899; 
  outline: none;
  border: 1px solid #ec4899;
}