.container {
  display: flex;
  height: 100vh;
}

.color-picker-card {
  padding: 10px;
  background: #ffffff;
}

.color-bar{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 25px #e5e7eb;
  margin-top: 20px;
} 


.tool-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffffff;
  border-radius: 9px;
  box-shadow: 20px 15px 25px #e5e7eb;
  margin-top: 40px; 

}

.button-card:hover{
  border-radius: 5px;
  box-shadow: 0px 0px 25px #e5e7eb;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tool-btn{
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.board-container {
  flex: 1;
}
